#account{
    padding:1em;
    background-color: black;
    margin:7.5%;
    color:white;
    border-radius: 1em;
    width:85%;
    color:white;



    label, input{
        display:block;
    }

    .inputs{
        width:80%;
        margin: 0 auto;

        input{
            width:100%;
            border:1px solid black;
            font-size:0.9em;
            padding:0.2em;
      
        }

        input:focus{
            outline:none;
        }

        input.editable:focus{
            // possibly add something here later
        }

        label:nth-child(3){
            margin-top:0.5em;

        }

        .password-container{
            display:flex;
     

            button{
                background-color: white;
                border:1px solid black;
                border-left:none;
                position: relative;
                right:1px;
                font-size: 0.9em;
            }

     
        }

    }
  
    .edit-and-delete-label{
        text-align: center;
        margin:0.5em 0;
    }
    
    .error-message{
        color:red;
        text-align: center;
    }

    .icon-container{
        text-align: center;
        
        button{
            padding:0.35em;
            border:1px solid white;
            border-radius:0.5em;
            background-color:black;
            color:inherit;
            font-size: 1.2em;
            width:2em;
            margin: 0 0.5em;

            &:hover{
                background-color:white;
                color:black;
            }
        }
    }


    @media (min-width: 450px){
        width:45%;
        margin:1.5%;
        
 
    }

    @media (min-width: 900px){
        width:30%;
        margin:1.5%;
        
    }

    
}