@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin:0px;

}

#login, #register, #profile{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    --border-radius: 0.2em;

    form{
        background-color: rgb(170, 170, 170);
        padding:1.5em;
        border-radius: var(--border-radius);
        border:2px solid black;

        .section{
            width:12em;
        }

        label, input{
            display:block;
        }


        input{
            width:100%;
            font-size:0.8em;
        }

        input:focus{
            outline:none;
            box-shadow:0 0 10px black;
        }
        
        .error-container{
            height:2.5em;

            label{
                font-size: 0.7em;
            }

            .error{
                color:red;
                font-weight:bold;
            }


        }

 
        button{
            font-size:1.2em;
            padding:0.5em;
            border-radius: var(--border-radius);
            border-style:solid;
            display:block;
            margin: 0 auto;
            
            &:hover{
                background-color: black;
                color:white;
                border-color:black;
            }
        }
    }
    
}


