@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin:0px;


}

label, input{
    display:block;
    font-size:1.3em;
}

input{
    width:100%;
}

input:focus{
    outline: #112596 solid 1px;
}


#login, #register, #profile{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;

    form{
        background-color: rgb(170, 170, 170);
        padding:20px;
        border-radius: 5px;
        border:2px solid black;
        
        .error-container{
            height:50px;

            label{
                font-size:1em;
            }

            .error{
                color:red;
                font-weight:bold;
            }


        }
    
        .submit-container{
            text-align: center;

            button{
                font-size:1.5em;
                padding:5px;
                border-radius: 0px;
                border-style:solid;
            }
            button:hover{
                background-color: black;
                color:white;
                border-color:black;
            }
        }

    }
}


@media only screen and (min-width: 600px){
    // #nav{
    //     background-color: red;

    //     #desktop-menu{
    //         display:block;
    //     }

    //     #mobile-button{
    //         display:none;
    
    //     }

    // }

    // #login{
    //     background-color: red;
    // }


}





