#error-page{
    background-color: black;
    width:100vw;
    height:100vh;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    font-size:1.5rem;
 
    h1{
        position: relative;
        bottom:15%;
        text-align: center;

    }

    a{
        padding:0.5em;
        border:1px solid white;
        border-radius:0.5em;
        color:white;
        background-color: transparent;
        text-align: center;
        text-decoration: none;

        &:hover{
            border-color: white;
            color:black;
            background-color: white;
    
        }
    

    }

    
}