#nav{
    text-align: center;
    background-color: black;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding:0.5em 0; 
    color:white;
    z-index: 5;


    #logged-out-button{
        color:white;
        background-color: black;
        position: absolute;
        right:0px;
        top:0px;
        height: 100%;
        border:none;
        font-size: 1.8em;

        &:hover{
            text-decoration: underline;
        }
    }



    #desktop-menu{
        display:none;
        position:absolute;
        right:0;
        top:0;
        background-color: inherit;

        &:hover #dropdown{
            display:block;
        }

        .user-icon{
            font-size: 2.1em;
            background-color: black;
            color:white; 
            border:none;
            padding:0.2em;
            width:2.5em;

        }
 

        #dropdown{
            font-size:1.2em;
            display:none;
        
     
            div{
                padding:0.5em;

                &:hover{
                    background-color: grey;
                    
                }
            }

        }
    }

    #mobile-button{
        position:absolute;
        top:0;
        right:0;
        font-size: 2em;
        padding:0.2em;
        background-color: transparent;
        color:inherit;
        border:none;
        z-index: 1;
    }

    #mobile-menu{
        position: absolute;
        top:0;
        color:white;
        font-size: 2em;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100vw;
        height:100vh;
        background-color: inherit;

        div{
            margin-bottom:1em;
            border-radius: 0.5em;
            padding:0.5em;
            width: 4em;
            border:1px solid white;

            &:hover{
                background-color: white;
                color:black;

            }
        }
    }

    @media (min-width: 600px){
        #desktop-menu{
            display:block;
        }
    
        #mobile-button, #mobile-menu{
            display:none;
        
        }
 
    
    }
}
