#nav{
    text-align: center;
    background-color: black;
    position: relative;
    padding: 8px 0px;
    color:white;

    button{
        color:white;
        background-color: black;
        position: absolute;
        right:0px;
        top:0px;
        height: 100%;
        border:none;
        font-size: 1.2em;
    }
    button:hover{
        color:black;
        background-color: white;

    }
}