#nav{
    text-align: center;
    background-color: black;
    position: fixed;
    width:100%;
    padding:0.5em 0; 
    color:white;
    z-index: 5;

    h1{
        font-size: 2.5em;
    }

    #logged-out-button{
        color:white;
        background-color: black;
        position: absolute;
        right:0px;
        top:0px;
        height: 100%;
        border:none;
        font-size: 1.8em;

        &:hover{
            color:black;
            background-color: white;
        }
    }



    #desktop-menu{
        display:none;
        position:absolute;
        right:0;
        top:0;
        background-color: inherit;

        &:hover #dropdown{
            display:block;
        }

        .user-icon{
            font-size: 2.5em;
            background-color: black;
            color:white; 
            border:none;
            padding:0.2em;
            width:2.5em;

        }


        #dropdown{
            font-size: 1.5em;
            display:none;
     
            div{
                padding:0.5em;

                &:hover{
                    background-color: white;
                    color:black;
                }
            }

        }
    }

    #mobile-button{
        position:absolute;
        top:0;
        right:0;
        font-size: 2.5em;
        padding:0.2em;
        background-color: inherit;
        color:white;
        border:none;

    }

    #mobile-menu{
        position: fixed;
        top:54px;
        color:white;
        font-size: 2.5em;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100vw;
        height:100vh;
        background-color: rgb(68, 66, 66);

        div{
            margin-bottom:15px;
        }
    }

    @media (min-width: 600px){
        #desktop-menu{
            display:block;
        }
    
        #mobile-button, #mobile-menu{
            display:none;
        
        }
 
    
    }
}
